
  #container {
    height: 9000px;
    width: 16600px;
    overflow: hidden;
  }

  body { 
  margin: 0px;
  }
  p {
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
    margin-left: 200px;
    line-height: 5000px;
    font-size: 5000px;
    margin-bottom: 0px;
    z-index: 0;
  }
  img{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  }
  #chicken {
    position: absolute;
    top: 1270px;
    left: 1690px;
    max-width: 700px;
    height: auto;
  }

  #rug {
    position: absolute;
    top: 6900px;
    left: 0px;
    width: 4000px;
    height: auto;
    z-index: -1;
    margin-left: -100px;
  }

   #cowrug {
    position: absolute;
    top: 4300px;
    left: 9000px;
    max-width: 3000px;
    height: auto;
    z-index: -2;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }

   #classylamp {
    position: absolute;
    top: 400px;
    left: 6000px;
    width: 900px;
    height: auto;
    z-index: 3;
  }
    #dotcarpet {
    position: absolute;
    top: 2204px;
    left: 14600px;
    width: 900px;
    height: auto;
    z-index: 1;
  }

   #deer {
    position: absolute;
    top: -90px;
    left: 16600px;
    width: 700px;
    height: auto;
    z-index: 1;
  }
  #deer:hover{
    -webkit-transform: rotate(45deg);
  }
  #grassroll {
    position: absolute;
    top: 10600px;
    left: 15250px;
    width: 2000px;
    height: auto;
    z-index: -2;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #USA {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: auto;
    z-index: -40;
   -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #sully {
    position: absolute;
    top: 2860px;
    left: 1040px;
    width: 100px;
    height: auto;
    z-index: 1;
  }
    #folder {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
    #trophy {
    position: absolute;
    top: 521px;
    left: 900px;
    width: 100px;
    height: auto;
    z-index: -1;
  }
   #mancala {
    position: absolute;
    top: 6751px;
    left: 900px;
    width: 520px;
    height: auto;
    z-index: 1;
  }
   #foldingtable {
    position: absolute;
    top: 7721px;
    left: 9000px;
    width: 140px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #drawer {
    position: absolute;
    top: -330px;
    left: 7540px;
    width: 420px;
    height: auto;
    z-index: 50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
    -webkit-transition: top 2s;
  }
  #drawer:hover{
    top: -70px;
    -webkit-transition: top 2s;
  }
   #teacup {
    position: absolute;
    top: 5000px;
    left: 7000px;
    width: 50px;
    height: auto;
    z-index: 1;
  }
  #broom {
    position: absolute;
    top: 3000px;
    left: 11950px;
    width: 680px;
    height: auto;
    z-index: 1;
  }
   #fan {
    position: absolute;
    top: 3950px;
    left: 14060px;
    width: 1430px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #basketball {
    position: absolute;
    top: 9950px;
    left: 16060px;
    width: 740px;
    height: auto;
    z-index: 6;
  }
  #basketball:hover {
    -webkit-transform: rotate(90deg);
  }
    #bonsai{
    position: absolute;
    top: 6400px;
    left: 7100px;
    width: 200px;
    height: auto;
    z-index: 3;
  }
  #bananas{
   position: absolute;
    top: 3300px;
    left: 6810px;
    width: 500px;
    height: auto;
    z-index: 2;
  }
  #shoe{
   position: absolute;
    top: 3300px;
    left: 9810px;
    width: 280px;
    height: auto;
    z-index: 5;
  }
   #bucket{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1040px;
    height: auto;
    z-index: 5;
  }
  #croc{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1510px;
    height: auto;
    z-index: 7;
  }
  #chandelier{
   position: absolute;
    top: 0px;
    left: 12270px;
    width: 510px;
    height: auto;
    z-index: 1;
  }
  #checkeredflag{
   position: absolute;
    top: 120px;
    left: -80px;
    width: 620px;
    height: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #cookie{
   position: absolute;
    top: -150px;
    left: 7620px;
    width: 90px;
    height: auto;
    z-index: 51;
    -webkit-transition: top 2s;
  }
  #drawer:hover ~ #cookie {
    top: 50px;
    -webkit-transition: top 2s;
  }

  #desklamp{
   position: absolute;
    top: 6750px;
    left: 0px;
    width: 240px;
    height: auto;
    z-index: 1;
  }
  #rotatechair{
   position: absolute;
    top: 6750px;
    left: 10000px;
    width: 460px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #snail{
   position: absolute;
    top: 8750px;
    left: 13000px;
    width: 190px;
    height: auto;
    z-index: 7;
  }
   #birdhouse{
   position: absolute;
    top: 9020px;
    left: 7970px;
    width: 190px;
    height: auto;
    z-index: 7;
    -webkit-transition: 1s;
  }
  #birdhouse:hover + #dove{
    top: 8870px;
    left: 7380px;
    -webkit-transition: 1s;
  }
  #cat{
   position: absolute;
    top: 8250px;
    left: 7090px;
    width: 1020px;
    height: auto;
    z-index: 7;
  }
   #mattress {
   position: absolute;
    top: 9290px;
    left: 9090px;
    width: 1950px;
    height: auto;
    z-index: 0;
  }
  #umbrella{
   position: absolute;
    top: 4300px;
    left: 11090px;
    width: 2367px;
    height: auto;
    z-index: 4;
  }
   #pizza{
   position: absolute;
    top: 2420px;
    left: 16090px;
    width: 507px;
    height: auto;
    z-index: -1;
  }
  #iron{
   position: absolute;
    top: 6420px;
    left: 16190px;
    width: 787px;
    height: auto;
    z-index: -1;
  }
   #manillafolder{
   position: absolute;
    top: 1420px;
    left: 10190px;
    width: 1187px;
    height: auto;
    z-index: 6;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #genielamp{
   position: absolute;
    top: 1710px;
    left: 11160px;
    width: 327px;
    height: auto;
    z-index: 7;
  }
  #matchbox{
   position: absolute;
    top: 8710px;
    left: 2999px;
    width: 4027px;
    height: auto;
    z-index: 7;
  }
  #mop{
   position: absolute;
    top: 8440px;
    left: 3079px;
    width: 157px;
    height: auto;
    z-index: 7;
  }
  #oldclock{
   position: absolute;
    top: 3830px;
    left: 2809px;
    width: 2267px;
    height: auto;
    z-index: 2;
  }
  #gazebo{
   position: absolute;
    top: 10030px;
    left: 400px;
    width: 567px;
    height: auto;
    z-index: -1;
  }
   #hair{
   position: absolute;
    top: 1730px;
    left: 3800px;
    width: 917px;
    height: auto;
    z-index: 3;
  }
  #rat {
  position: absolute;
  top: 12290px;
  left: 0px;
  width: 287px;
  height: auto;
  z-index: 3;
  }
  #oillamp {
  position: absolute;
  top: 9190px;
  left: 1660px;
  width: 1527px;
  height: auto;
  z-index: 3;
  }
  #plant {
  position: absolute;
  top: 260px;
  left: 1790px;
  width: 1247px;
  height: auto;
  z-index: 3;
  -webkit-transition: 8s;
  }
  #plant:hover{
    left: 1530px;
    top: 34px;
    width: 1700px;
    -webkit-transition: 8s;
  }
  #tv {
  position: absolute;
  top: -250px;
  left: 5860px;
  width: 3377px;
  height: auto;
  z-index: 1;
  }
  #book {
  position: absolute;
  top: 10930px;
  left: 8760px;
  width: 957px;
  height: auto;
  z-index: 1;
  }
  #chess{
  position: absolute;
  top: 10380px;
  left: 11760px;
  width: 1687px;
  height: auto;
  z-index: 1;
  }
  #gnome{
  position: absolute;
  top: 10440px;
  left: 14753px;
  width: 1117px;
  height: auto;
  z-index: 3;
  }
  #gnome:hover {
    width: 5117px;
    left: 12753px;
    top: 8440px;
    -webkit-transition: .2s;
  }
  #garbagebag{
   position: absolute;
  top: 7309px;
  left: 14753px;
  width: 2117px;
  height: auto;
  z-index: -2;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #box{
   position: fixed;
  right: 100px;
  bottom: 100px;
  width: 117px;
  height: auto;
  z-index: -1;
  }
   #legalpad {
   position: fixed;
  left: 50px;
  top: 30px;
  width: 217px;
  height: auto;
  z-index: 1;
  -webkit-transition: 1s;
  }
  #info {
    font-family: 'Allan', cursive;
    color: black;
    font-size: 17pt;
    position: fixed;
    text-decoration: underline;
    top: 10px;
    left: 10px;
    width: 216px;
    height: 280px;
    z-index: 51;
    -webkit-transition: 1s;
  }
  #notes {
    font-family: 'Allan', cursive;
    color: black;
    font-size: 12pt;
    position: fixed;
    top: 60px;
    left: 60px;
    width: 216px;
    height: 280px;
    z-index: 1;
    padding-left: 30px;
    -webkit-transition: 1s;
  }
  #info:hover + #legalpad {
    width: 534px;
    height: auto;
    -webkit-transition: 1s;
  }
  #info:hover > #notes {
    font-size: 40px;
    top: 105px;
    left: 120px;
    width: 534px;
    height: auto;
    -webkit-transition: 1s;
  }
  #paperclip{
    position: absolute;
  top: 8449px;
  left: 13683px;
  width: 2827px;
  height: auto;
  z-index: -2;
  }
  #tire{
  position: absolute;
  top: 10490px;
  left: 3999px;
  width: 2027px;
  height: auto;
  z-index: 9;
  }
   #obama{
   position: absolute;
  top: 5300px;
  left: 8000px;
  width: 187px;
  height: auto;
  z-index: 0;
  }
   #cds{
  position: absolute;
  top: 5360px;
  left: 8000px;
  width: 587px;
  height: auto;
  z-index: -1;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #fence{
  position: absolute;
  top: 5860px;
  left: 9000px;
  width: 1787px;
  height: auto;
  z-index: -1;
  }
   #timer{
  position: fixed;
  top: 270px;
  left: -3px;
  width: 77px;
  height: auto;
  z-index: 50;
  }
  #cash{
  position: fixed;
  bottom: 0px;
  left: 1160px;
  width: 177px;
  height: auto;
  z-index: 50;
  }
  #bopit{
  position: absolute;
  top: 9480px;
  left: 12050px;
  width: 357px;
  height: auto;
  z-index: 0;
  }
   #cake{
  position: absolute;
  top: 10740px;
  left: 11710px;
  width: 807px;
  height: auto;
  z-index: 0;
  }
  #coins{
  position: absolute;
  top: 1820px;
  left: 14350px;
  width: 837px;
  height: auto;
  z-index: 3;
  }
  #cowboyhat{
  position: absolute;
  top: 5210px;
  left: 12350px;
  width: 327px;
  height: auto;
  z-index: 4;
  }
   #creature {
    position: absolute;
  top: 4800px;
  left: 1740px;
  width: 300px;
  height: auto;
  z-index: 1;
  -webkit-transition: 30s;
  }
  #creature:hover {
    top: -900px;
  }
  #dove {
    position: absolute;
  top: 6800px;
  left: 4940px;
  width: 740px;
  height: auto;
  z-index: 5;
  }
   #hula{
   position: absolute;
  top: 5370px;
  left: 15290px;
  width: 1257px;
  height: auto;
  z-index: -5;
  }
    #leaves{
  position: absolute;
  top: 11570px;
  left: 5389px;
  width: 997px;
  height: auto;
  z-index: 0;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }  
  #slinky{
    position: absolute;
  top: 9770px;
  left: 9389px;
  width: 327px;
  height: auto;
  z-index: 5;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  -webkit-transition: 2s;
  }
  #slinky:hover{
    -webkit-transform: rotate(390deg);
    -webkit-transition: 2s;
  }
   #newspapers {
  position: absolute;
  top: 1640px;
  left: 1540px;
  width: 2020px;
  height: auto;
  z-index: -1;
  }
  #balloon{
  position: absolute;
  top: -20px;
  left: 3800px;
  width: 187px;
  height: auto;
  z-index: -55;
  -webkit-filter: drop-shadow(0px 0px 0px #222);
  }
  #santahat{
    position: absolute;
  top: 1131px;
  left: 13880px;
  width: 190px;
  height: auto;
  z-index: -50;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #shrub{
   position: absolute;
  top: 8730px;
  left: 1690px;
  max-width: 850px;
  height: auto;
  z-index: -1;
  }
  #toilet{
  position: absolute;
  top: 1390px;
  left: 15870px;
  width: 570px;
  height: auto;
  z-index: 1;
  }
  #sword{
  position: absolute;
  top: 4390px;
  left: 15870px;
  width: 240px;
  height: auto;
  z-index: 10;
  }
   #steak{
   position: absolute;
  top: 5390px;
  left: 14570px;
  width: 90px;
  height: auto;
  z-index: 0;
  }
   #stool{
    position: absolute;
  top: 5280px;
  left: 13380px;
  width: 1240px;
  height: auto;
  z-index: -55;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
    #toaster{
    position: absolute;
  top: 8620px;
  left: 10180px;
  width: 770px;
  height: auto;
  z-index: 30;
  }
  #toast{
  position: absolute;
  top: 8500px;
  left: 10400px;
  width: 450px;
  height: auto;
  z-index: 2;
  -webkit-transition: .5s;
  }
  #toaster:hover + #toast{
    top: 6900px;
  }
   #opensign{
    position: absolute;
  top: 30px;
  left: 900px;
  width: 270px;
  height: auto;
  z-index: 1;
  }
  #gate{
  position: absolute;
  top: 6360px;
  left: 11860px;
  width: 1520px;
  height: auto;
  z-index: 5;
  }
  #bills{
  position: fixed;
  top: -130px;
  left: 60px;
  width: 570px;
  height: auto;
  z-index: 60;
  opacity: 0;
  }
  #cash:hover ~ #bills {
    opacity: 100;
  }

  #postit {
    font-family: 'Allan', cursive;
    color: black;
    background-color: rgb(0,255,0);
    font-size: 12pt;
    position: fixed;
    top: 410px;
  left: 29px;
    width: 100px;
    height: 100px;
    z-index: 50;
    padding-left: 5px;
    opacity: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  }
  #timer:hover ~ #postit {
    opacity: 100;
  }








  










