
  body { 
  margin: 0px;
  }
  p {
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
    margin-left: 200px;
    line-height: 5000px;
    font-size: 5000px;
    margin-bottom: 0px;
    z-index: 0;
  }
  #chicken {
    position: absolute;
    top: 1270px;
    left: 1690px;
    max-width: 700px;
    height: auto;
  }

  #rug {
    position: absolute;
    top: 6900px;
    left: 0px;
    width: 4000px;
    height: auto;
    z-index: -1;
    margin-left: -100px;
  }

   #cowrug {
    position: absolute;
    top: 4300px;
    left: 9000px;
    max-width: 3000px;
    height: auto;
    z-index: -2;
  }

   #classylamp {
    position: absolute;
    top: 400px;
    left: 6000px;
    width: 900px;
    height: auto;
    z-index: 3;
  }

    #dotcarpet {
    position: absolute;
    top: 2204px;
    left: 14600px;
    width: 900px;
    height: auto;
    z-index: 1;
  }

   #deer {
    position: absolute;
    top: -90px;
    left: 16600px;
    width: 700px;
    height: auto;
    z-index: 1;
  }
  #grassroll {
    position: absolute;
    top: 10600px;
    left: 15250px;
    width: 2000px;
    height: auto;
    z-index: -2;
  }
   #USA {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: auto;
    z-index: -40;
  }
   #sully {
    position: absolute;
    top: 2860px;
    left: 1040px;
    width: 100px;
    height: auto;
    z-index: 1;
  }
    #folder {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: auto;
    z-index: 1;
  }
    #trophy {
    position: absolute;
    top: 521px;
    left: 900px;
    width: 100px;
    height: auto;
    z-index: -1;
  }
   #mancala {
    position: absolute;
    top: 6751px;
    left: 900px;
    width: 520px;
    height: auto;
    z-index: 1;
  }
   #foldingtable {
    position: absolute;
    top: 7721px;
    left: 9000px;
    width: 140px;
    height: auto;
    z-index: -50;
  }
   #drawer {
    position: absolute;
    top: -330px;
    left: 7540px;
    width: 420px;
    height: auto;
    z-index: 50;
    -webkit-transition: top 2s;
  }
  #drawer:hover{
    top: -70px;
    -webkit-transition: top 2s;
  }
   #teacup {
    position: absolute;
    top: 5000px;
    left: 7000px;
    width: 50px;
    height: auto;
    z-index: 1;
  }
  #broom {
    position: absolute;
    top: 3000px;
    left: 11950px;
    width: 680px;
    height: auto;
    z-index: 1;
  }
   #fan {
    position: absolute;
    top: 3950px;
    left: 14060px;
    width: 1430px;
    height: auto;
    z-index: -50;
  }
   #basketball {
    position: absolute;
    top: 9950px;
    left: 16060px;
    width: 740px;
    height: auto;
    z-index: 6;
  }
    #bonsai{
    position: absolute;
    top: 6400px;
    left: 7100px;
    width: 200px;
    height: auto;
    z-index: 3;
  }
  #bananas{
   position: absolute;
    top: 3300px;
    left: 6810px;
    width: 500px;
    height: auto;
    z-index: 2;
  }
  #shoe{
   position: absolute;
    top: 3300px;
    left: 9810px;
    width: 280px;
    height: auto;
    z-index: 5;
  }
   #bucket{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1040px;
    height: auto;
    z-index: 5;
  }
  #croc{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1510px;
    height: auto;
    z-index: 7;
  }
  #chandelier{
   position: absolute;
    top: 0px;
    left: 12270px;
    width: 510px;
    height: auto;
    z-index: 1;
  }
  #checkeredflag{
   position: absolute;
    top: 120px;
    left: -80px;
    width: 620px;
    height: auto;
    z-index: 1;
  }
  #cookie{
   position: absolute;
    top: -150px;
    left: 7620px;
    width: 90px;
    height: auto;
    z-index: 51;
    -webkit-transition: top 2s;
  }
  #drawer:hover ~ #cookie {
    top: 50px;
    -webkit-transition: top 2s;
  }

  #desklamp{
   position: absolute;
    top: 6750px;
    left: 0px;
    width: 240px;
    height: auto;
    z-index: 1;
  }
  #rotatechair{
   position: absolute;
    top: 6750px;
    left: 10000px;
    width: 460px;
    height: auto;
    z-index: -50;
  }
   #snail{
   position: absolute;
    top: 8750px;
    left: 13000px;
    width: 190px;
    height: auto;
    z-index: 7;
  }
   #birdhouse{
   position: absolute;
    top: 9020px;
    left: 7970px;
    width: 190px;
    height: auto;
    z-index: 7;
  }
  #cat{
   position: absolute;
    top: 8250px;
    left: 7090px;
    width: 1020px;
    height: auto;
    z-index: 7;
  }
   #mattress {
   position: absolute;
    top: 9290px;
    left: 9090px;
    width: 1950px;
    height: auto;
    z-index: 0;
  }
  #umbrella{
   position: absolute;
    top: 4300px;
    left: 11090px;
    width: 2367px;
    height: auto;
    z-index: 4;
  }
   #pizza{
   position: absolute;
    top: 2420px;
    left: 16090px;
    width: 507px;
    height: auto;
    z-index: -1;
  }
  #iron{
   position: absolute;
    top: 6420px;
    left: 16190px;
    width: 787px;
    height: auto;
    z-index: -1;
  }
   #manillafolder{
   position: absolute;
    top: 1420px;
    left: 10190px;
    width: 1187px;
    height: auto;
    z-index: 6;
  }
   #genielamp{
   position: absolute;
    top: 1710px;
    left: 11160px;
    width: 327px;
    height: auto;
    z-index: 7;
  }
  #matchbox{
   position: absolute;
    top: 8710px;
    left: 2999px;
    width: 4027px;
    height: auto;
    z-index: 7;
  }
  #mop{
   position: absolute;
    top: 8440px;
    left: 3079px;
    width: 157px;
    height: auto;
    z-index: 7;
  }
  #oldclock{
   position: absolute;
    top: 3830px;
    left: 2809px;
    width: 2267px;
    height: auto;
    z-index: 2;
  }
  #gazebo{
   position: absolute;
    top: 10030px;
    left: 400px;
    width: 567px;
    height: auto;
    z-index: -1;
  }
   #hair{
   position: absolute;
    top: 1730px;
    left: 3800px;
    width: 917px;
    height: auto;
    z-index: 3;
  }
  #rat {
  position: absolute;
  top: 12290px;
  left: 0px;
  width: 287px;
  height: auto;
  z-index: 3;
  }
  #oillamp {
  position: absolute;
  top: 9190px;
  left: 1660px;
  width: 1527px;
  height: auto;
  z-index: 3;
  }
  #plant {
  position: absolute;
  top: 260px;
  left: 1790px;
  width: 1247px;
  height: auto;
  z-index: 3;
  }
  #tv {
  position: absolute;
  top: -250px;
  left: 5860px;
  width: 3377px;
  height: auto;
  z-index: 1;
  }
  #book {
  position: absolute;
  top: 10930px;
  left: 8760px;
  width: 957px;
  height: auto;
  z-index: 1;
  }
  #chess{
  position: absolute;
  top: 10380px;
  left: 11760px;
  width: 1687px;
  height: auto;
  z-index: 1;
  }
  #gnome{
  position: absolute;
  top: 10440px;
  left: 14753px;
  width: 1117px;
  height: auto;
  z-index: 3;
  }
  #garbagebag{
   position: absolute;
  top: 7309px;
  left: 14753px;
  width: 2117px;
  height: auto;
  z-index: -2;
  }
   #box{
   position: fixed;
  right: 100px;
  bottom: 100px;
  width: 117px;
  height: auto;
  z-index: -1;
  }
   #legalpad {
   position: fixed;
  left: 0px;
  top: 10px;
  width: 317px;
  height: auto;
  z-index: 1;
  }
  #paperclip{
    position: absolute;
  top: 8449px;
  left: 13683px;
  width: 2827px;
  height: auto;
  z-index: -2;
  }
  #tire{
  position: absolute;
  top: 10490px;
  left: 3999px;
  width: 2027px;
  height: auto;
  z-index: 9;
  }
   #obama{
   position: absolute;
  top: 5300px;
  left: 8000px;
  width: 187px;
  height: auto;
  z-index: 0;
  }
   #cds{
  position: absolute;
  top: 5360px;
  left: 8000px;
  width: 587px;
  height: auto;
  z-index: -1;
  }
  #fence{
  position: absolute;
  top: 5860px;
  left: 9000px;
  width: 1787px;
  height: auto;
  z-index: -1;
  }






  










