
  #container {
    height: 12500px;
    width: 17200px;
    overflow: hidden;
  }
  #wrapper {
    position: relative;
  }
  body { 
  margin: 0px;
  }
  p {
    font-family: 'Pirata One', cursive;
    margin-top: 0px;
    margin-left: 200px;
    line-height: 5000px;
    font-size: 5000px;
    margin-bottom: 0px;
    z-index: 0;
  }
  img{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  }
  #chicken {
    position: absolute;
    top: 1270px;
    left: 1690px;
    max-width: 700px;
    height: auto;
  }

  #rug {
    position: absolute;
    top: 6900px;
    left: 0px;
    width: 4000px;
    height: auto;
    z-index: -1;
    margin-left: -100px;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }

   #cowrug {
    position: absolute;
    top: 4300px;
    left: 9000px;
    max-width: 3000px;
    height: auto;
    z-index: -2;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }

   #classylamp {
    position: absolute;
    top: 400px;
    left: 6000px;
    width: 900px;
    height: auto;
    z-index: 3;
  }
  #onlamp{
     position: absolute;
    top: 209px;
    left: 5982px;
    width: 900px;
    height: auto;
    z-index: 3;
  }
    #dotcarpet {
    position: absolute;
    top: 2204px;
    left: 14600px;
    width: 900px;
    height: auto;
    z-index: 1;
  }

   #deer {
    position: absolute;
    top: -90px;
    left: 16600px;
    width: 700px;
    height: auto;
    z-index: 1;
  }
  #deer:hover{
    -webkit-transform: rotate(45deg);
  }
  #grassroll {
    position: absolute;
    top: 10600px;
    left: 15250px;
    width: 2000px;
    height: auto;
    z-index: -2;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #USA {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: auto;
    z-index: -40;
   -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #sully {
    position: absolute;
    top: 2860px;
    left: 1040px;
    width: 100px;
    height: auto;
    z-index: 1;
  }
    #folder {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #listofthings {
    font-family: 'Allan', cursive;
    color: black;
    font-size: 12pt;
    position: fixed;
    bottom: 30px;
    line-height: 0;
    letter-spacing: -2px;
    left: 0px;
    width: 100px;
    height: auto;
    z-index: 0;
    padding-left: 30px;
    -webkit-transition: .5s;
  }
  #folder:hover + #listofthings {
    bottom: 95px;
    line-height: 1.5;
    letter-spacing: 0px;
    -webkit-transition: .5s;
  }
    #trophy {
    position: absolute;
    top: 521px;
    left: 900px;
    width: 100px;
    height: auto;
    z-index: -1;
  }
   #mancala {
    position: absolute;
    top: 6751px;
    left: 900px;
    width: 520px;
    height: auto;
    z-index: 1;
  }
   #foldingtable {
    position: absolute;
    top: 7721px;
    left: 9000px;
    width: 140px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #drawer {
    position: absolute;
    top: -330px;
    left: 7540px;
    width: 420px;
    height: auto;
    z-index: 50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
    -webkit-transition: top 2s;
  }
  #drawer:hover{
    top: -70px;
    -webkit-transition: top 2s;
  }
   #teacup {
    position: absolute;
    top: 5000px;
    left: 7000px;
    width: 50px;
    height: auto;
    z-index: 1;
  }
  #broom {
    position: absolute;
    top: 3000px;
    left: 11950px;
    width: 680px;
    height: auto;
    z-index: 1;
  }
   #fan {
    position: absolute;
    top: 3950px;
    left: 14060px;
    width: 1430px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #basketball {
    position: absolute;
    top: 9950px;
    left: 16060px;
    width: 740px;
    height: auto;
    z-index: 6;
  }
  #basketball:hover {
    -webkit-transform: rotate(90deg);
  }
    #bonsai{
    position: absolute;
    top: 6400px;
    left: 7100px;
    width: 200px;
    height: auto;
    z-index: 3;
  }
  #bananas{
   position: absolute;
    top: 3300px;
    left: 6810px;
    width: 500px;
    height: auto;
    z-index: 2;
  }
  #shoe{
   position: absolute;
    top: 3300px;
    left: 9810px;
    width: 280px;
    height: auto;
    z-index: 5;
  }
   #bucket{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1040px;
    height: auto;
    z-index: 5;
  }
  #croc{
   position: absolute;
    top: 7370px;
    left: 12810px;
    width: 1510px;
    height: auto;
    z-index: 7;
    -webkit-transition: .5s;
  }
    #croc:hover + #steak {
   top: 7650px;
    left: 12810px;
    z-index: 6;
   -webkit-transition: .5s;
  }
  #chandelier{
   position: absolute;
    top: 0px;
    left: 12270px;
    width: 510px;
    height: auto;
    z-index: 1;
  }
  #checkeredflag{
   position: absolute;
    top: 120px;
    left: -80px;
    width: 620px;
    height: auto;
    z-index: 1;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #cookie{
   position: absolute;
    top: -150px;
    left: 7620px;
    width: 90px;
    height: auto;
    z-index: 51;
    -webkit-transition: top 2s;
  }
  #drawer:hover ~ #cookie {
    top: 50px;
    -webkit-transition: top 2s;
  }

  #desklamp{
   position: absolute;
    top: 6750px;
    left: 0px;
    width: 240px;
    height: auto;
    z-index: 1;
  }
  #rotatechair{
   position: absolute;
    top: 6750px;
    left: 10000px;
    width: 460px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #snail{
   position: absolute;
    top: 8750px;
    left: 13000px;
    width: 190px;
    height: auto;
    z-index: 7;
    -webkit-transition: 300s;
  }
   #snail:hover {
    left:-100px;
    -webkit-transition: 300s;
  }
   #birdhouse{
   position: absolute;
    top: 9020px;
    left: 7970px;
    width: 190px;
    height: auto;
    z-index: 7;
    -webkit-transition: 1s;
  }
  #birdhouse:hover + #dove{
    top: 8870px;
    left: 7380px;
    -webkit-transition: 1s;
  }
  #cat{
   position: absolute;
    top: 8250px;
    left: 7090px;
    width: 1020px;
    height: auto;
    z-index: 7;
  }
   #mattress {
   position: absolute;
    top: 9290px;
    left: 9090px;
    width: 1950px;
    height: auto;
    z-index: 0;
  }
  #umbrella{
   position: absolute;
    top: 4300px;
    left: 11090px;
    width: 2367px;
    height: auto;
    z-index: 4;
  }
   #umbrellaclosed{
  position: absolute;
  top: 4370px;
  left: 11720px;
  width: 967px;
  height: auto;
  z-index: 4;
  -webkit-transform: rotate(20deg);
  }
   #pizza{
   position: absolute;
    top: 2420px;
    left: 16090px;
    width: 507px;
    height: auto;
    z-index: 1;
  }
  #chomp {
    position: absolute;
  top: 2570px;
  left: 15470px;
  width: 507px;
  height: auto;
  z-index: -3;
    -webkit-filter: drop-shadow(0px 0px 0px white);
    -webkit-transition: 4s;
  }
  #pizza:hover + #chomp {
    top: 2570px;
  left: 15870px;
  width: 507px;
  height: auto;
  z-index: -3;
  -webkit-transition: 4s;
  }
  #iron{
   position: absolute;
    top: 6420px;
    left: 16190px;
    width: 787px;
    height: auto;
    z-index: -1;
  }
   #manillafolder{
   position: absolute;
    top: 1420px;
    left: 10190px;
    width: 1187px;
    height: auto;
    z-index: 6;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #genielamp{
   position: absolute;
    top: 1710px;
    left: 11160px;
    width: 327px;
    height: auto;
    z-index: 7;
  }
  #matchbox{
   position: absolute;
    top: 8710px;
    left: 2999px;
    width: 4027px;
    height: auto;
    z-index: 7;
  }
  #fire{
    position: absolute;
  top: 8970px;
  left: 5749px;
  width: 417px;
  height: auto;
  z-index: 7;
  opacity: 0;
  }
  #matchbox:hover + #fire{
    opacity: 100;
  }
  #mop{
   position: absolute;
    top: 8440px;
    left: 3079px;
    width: 157px;
    height: auto;
    z-index: 7;
  }
  #oldclock{
   position: absolute;
    top: 3830px;
    left: 2809px;
    width: 2267px;
    height: auto;
    z-index: 2;
  }
  #eyes{
   position: absolute;
  top: 4000px;
  left: 3389px;
  width: 1117px;
  height: auto;
  z-index: 2;
  }
  #gazebo{
   position: absolute;
    top: 10030px;
    left: 400px;
    width: 567px;
    height: auto;
    z-index: 0;
  }
  #person{
   position: absolute;
  top: 9940px;
  left: 480px;
  width: 127px;
  height: auto;
  z-index: 0;
  opacity: -1;
  }
  #gazebo:hover + #person{
    opacity: 100;
  }
   #hair{
   position: absolute;
    top: 1730px;
    left: 3800px;
    width: 917px;
    height: auto;
    z-index: 3;
  }
  #wig {
    position: absolute;
    top: 1830px;
    left: 4100px;
    width: 370px;
    height: auto;
    z-index: 3;
  }
  #rat {
  position: absolute;
  top: 12290px;
  left: 0px;
  width: 287px;
  height: auto;
  z-index: 3;
  }
  #oillamp {
  position: absolute;
  top: 9190px;
  left: 1660px;
  width: 1527px;
  height: auto;
  z-index: 3;
   -webkit-transition: 1s;
  }
  #oillamp:hover {
    left: 1200px;
    top: 9090px;
    -webkit-transform: rotate(45deg);
    -webkit-transition: 1s;
  }
  #plant {
  position: absolute;
  top: 260px;
  left: 1790px;
  width: 1247px;
  height: auto;
  z-index: 3;
  -webkit-transition: 8s;
  }
  #plant:hover{
    left: 1530px;
    top: 34px;
    width: 1700px;
    -webkit-transition: 8s;
  }
  #tv {
  position: absolute;
  top: -250px;
  left: 5860px;
  width: 3377px;
  height: auto;
  z-index: 1;
  }
    #explosion {
      position: absolute;
  top: 2570px;
  left: 6860px;
  width: 698px;
  height: auto;
  z-index: 2;
  opacity: 0;
  }
  #tv:hover + #explosion {
    opacity: 100;
    -webkit-transition: 5s;
  }
  #book {
  position: absolute;
  top: 10930px;
  left: 8760px;
  width: 957px;
  height: auto;
  z-index: 1;
  }
  #chess{
  position: absolute;
  top: 10380px;
  left: 11760px;
  width: 1687px;
  height: auto;
  z-index: 1;
  }
  #gnome{
  position: absolute;
  top: 10440px;
  left: 14753px;
  width: 1117px;
  height: auto;
  z-index: 3;
  }
  #gnome:hover {
    width: 5117px;
    left: 12753px;
    top: 8440px;
    -webkit-transition: .2s;
  }
  #garbagebag{
   position: absolute;
  top: 7309px;
  left: 14753px;
  width: 2117px;
  height: auto;
  z-index: -2;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #box{
   position: fixed;
  right: 100px;
  bottom: 100px;
  width: 117px;
  height: auto;
  z-index: 0;
  }
  #jackball {
     position: fixed;
  right: 110px;
  bottom: 133px;
  width: 37px;
  height: auto;
  z-index: -2;
  -webkit-transition: 1s;
  }
  #box:hover + #jackball{
  bottom: 353px;
  -webkit-transition: 1s;
  }
   #legalpad {
   position: fixed;
  left: 50px;
  top: 30px;
  width: 217px;
  height: auto;
  z-index: 1;
  -webkit-transition: 1s;
  }
  #info {
    font-family: 'Allan', cursive;
    color: black;
    font-size: 17pt;
    position: fixed;
    text-decoration: underline;
    top: 10px;
    left: 10px;
    width: 216px;
    height: 280px;
    z-index: 2;
    -webkit-transition: 1s;
  }
  #notes {
    font-family: 'Allan', cursive;
    color: black;
    font-size: 12pt;
    position: fixed;
    top: 70px;
    top: 60px;
    left: 93px;
    height: 280px;
    z-index: 2;
    -webkit-transition: 1s;
  }
  #info:hover + #legalpad {
    width: 534px;
    height: auto;
    -webkit-transition: 1s;
  }
  #info:hover > #notes {
    font-size: 40px;
    top: 102px;
    left: 155px;
    width: 534px;
    height: auto;
    -webkit-transition: 1s;
  }
  #paperclip{
    position: absolute;
  top: 8449px;
  left: 13683px;
  width: 2827px;
  height: auto;
  z-index: -2;
  }
  #tire{
  position: absolute;
  top: 10490px;
  left: 3999px;
  width: 2027px;
  height: auto;
  z-index: 9;
  }
   #obama{
   position: absolute;
  top: 5300px;
  left: 8000px;
  width: 187px;
  height: auto;
  z-index: 0;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #obama2{
     position: absolute;
  top: 5300px;
  left: 8050px;
  width: 87px;
  height: auto;
  z-index: -1;
  -webkit-transition: 3s;
  }
  #obama:hover + #obama2 {
    position: absolute;
  top: 5200px;
  left: 8010px;
  width: 177px;
  height: auto;
  z-index: -1;
  -webkit-transition: 3s;
  }
   #cds{
  position: absolute;
  top: 5360px;
  left: 8000px;
  width: 587px;
  height: auto;
  z-index: -1;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #fence{
  position: absolute;
  top: 5860px;
  left: 9000px;
  width: 1787px;
  height: auto;
  z-index: -1;
  }
   #timer{
  position: fixed;
  top: 270px;
  left: -3px;
  width: 77px;
  height: auto;
  z-index: 50;
  }
  #cash{
  position: fixed;
  bottom: 0px;
  left: 1160px;
  width: 177px;
  height: auto;
  z-index: 50;
  }
  #bopit{
  position: absolute;
  top: 9480px;
  left: 12050px;
  width: 357px;
  height: auto;
  z-index: 0;
  }
   #cake{
  position: absolute;
  top: 10740px;
  left: 11710px;
  width: 807px;
  height: auto;
  z-index: 0;
  }
  #coins{
  position: absolute;
  top: 1820px;
  left: 14350px;
  width: 837px;
  height: auto;
  z-index: 3;
  }
  #cowboyhat{
  position: absolute;
  top: 5210px;
  left: 12350px;
  width: 327px;
  height: auto;
  z-index: 4;
  }
   #creature {
    position: absolute;
  top: 4800px;
  left: 1740px;
  width: 300px;
  height: auto;
  z-index: 1;
  -webkit-transition: 30s;
  }
  #creature:hover {
    top: -900px;
  }
  #dove {
    position: absolute;
  top: 6800px;
  left: 4940px;
  width: 740px;
  height: auto;
  z-index: 5;
  }
   #hula{
   position: absolute;
  top: 5370px;
  left: 15290px;
  width: 1257px;
  height: auto;
  z-index: -5;
  }
    #leaves{
  position: absolute;
  top: 11570px;
  left: 5389px;
  width: 997px;
  height: auto;
  z-index: 0;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }  
  #leavesScattered{
  position: absolute;
  top: 10720px;
  left: 5389px;
  width: 1527px;
  height: auto;
  z-index: 0;
  }  
  #slinky{
    position: absolute;
  top: 9770px;
  left: 9389px;
  width: 327px;
  height: auto;
  z-index: 5;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  -webkit-transition: 2s;
  }
  #slinky:hover{
    -webkit-transform: rotate(390deg);
    -webkit-transition: 2s;
  }
  #clickBalloon {
    z-index: 99;
  }
   #newspapers {
  position: absolute;
  top: 1640px;
  left: 1540px;
  width: 2020px;
  height: auto;
  z-index: -1;
  }
  #poppedBalloon {
     position: absolute;
      top: -20px;
    left: 3700px;
  width: 500px;
  height: auto;
  z-index: 55;
  -webkit-filter: drop-shadow(0px 0px 0px #222);
  }
  #balloon{
  position: absolute;
  top: -20px;
  left: 3800px;
  width: 187px;
  height: auto;
  z-index: 55;
  -webkit-filter: drop-shadow(0px 0px 0px #222);
  }
  #santahat{
    position: absolute;
  top: 1131px;
  left: 13880px;
  width: 190px;
  height: auto;
  z-index: -50;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #shrub{
   position: absolute;
  top: 8730px;
  left: 1690px;
  max-width: 850px;
  height: auto;
  z-index: -1;
  }
  #toilet{
  position: absolute;
  top: 1390px;
  left: 15870px;
  width: 570px;
  height: auto;
  z-index: 1;
  }
   #nemo{
    position: absolute;
  top: 1660px;
  left: 16050px;
  width: 70px;
  height: auto;
  z-index: -1;
  -webkit-transition: 3s;

  }
  #swirl {
  position: absolute;
  top: 1480px;
  left: 15920px;
  width: 230px;
  height: auto;
  z-index: 1;
  opacity: 0;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #toilet:hover + #swirl {
    opacity: 60;
    -webkit-transition: 3s;
  }
   #toilet:hover ~ #nemo {
      left: 16160px;
    -webkit-transition: 3s;
  }
  #sword{
  position: absolute;
  top: 4390px;
  left: 15870px;
  width: 240px;
  height: auto;
  z-index: 10;
  }
  #sword2{
    position: absolute;
  top: 4390px;
  left: 15820px;
  width: 240px;
  height: auto;
  z-index: 10;
  -webkit-transform: rotate(30deg);
  opacity: 0;
  }
  #smoke{
  position: absolute;
  top: 3930px;
  left: 15370px;
  width: 1180px;
  height: auto;
  z-index: 0;
  opacity: 0;
  }
  #sword:hover + #sword2 {
    opacity:100;
  }
  #sword:hover ~ #smoke {
    opacity:100;
    -webkit-transition: 2s;
  }
   #steak{
   position: absolute;
  top: 5390px;
  left: 14570px;
  width: 90px;
  height: auto;
  z-index: 0;
  }
   #stool{
    position: absolute;
  top: 5280px;
  left: 13380px;
  width: 1240px;
  height: auto;
  z-index: -55;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
    #toaster{
    position: absolute;
  top: 8620px;
  left: 10180px;
  width: 770px;
  height: auto;
  z-index: 30;
  }
  #toast{
  position: absolute;
  top: 8500px;
  left: 10400px;
  width: 450px;
  height: auto;
  z-index: 2;
  -webkit-transition: .5s;
  }
  #toaster:hover + #toast{
    top: 6900px;
  }
   #opensign{
    position: absolute;
  top: 30px;
  left: 900px;
  width: 270px;
  height: auto;
  z-index: 1;
  }
  #gate{
  position: absolute;
  top: 6360px;
  left: 11860px;
  width: 1520px;
  height: auto;
  z-index: 5;
  }
  #bills{
  position: fixed;
  top: -130px;
  left: 60px;
  width: 570px;
  height: auto;
  z-index: 60;
  opacity: 0;
  }
  #cash:hover ~ #bills {
    opacity: 100;
  }

  #postit {
    font-family: 'Allan', cursive;
    color: black;
    background-color: rgb(0,255,0);
    font-size: 12pt;
    position: fixed;
    top: 410px;
  left: 29px;
    width: 100px;
    height: 100px;
    z-index: 50;
    padding-left: 5px;
    opacity: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  }
  #timer:hover ~ #postit {
    opacity: 100;
  }

  #countdown {
    color: black;
  }

  #makeMeScrollable div.scrollableArea *
{
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

  @media screen and (max-width: 600px) {
    #folder {
      width: 50px;
    }
    #listofthings {
      opacity: 0;
    }
    #postit {
      width: 75px;
      height: 75px;
      font-size: 12px;
      top: 380px;
      opacity: 100;
    }
    #timer {
      width:50px;
    }
    #legalpad{
      width: 100px;
      left: 20px;
      top: 40px;
    }
    #notes {
      font-size: 12px;
      top: 55px;
      left: 38px;
      line-height: 12.5px;
    }
    #info {
      font-size: 18px;
    }
    #box {
      width: 60px;
      bottom: 100px;
      right: 40px;
    }
    #info:hover + #legalpad {
    width: 350px;
    height: auto;
    -webkit-transition: 1s;
  }
  #info:hover > #notes {
    font-size: 30px;
    top: 90px;
    left: 90px;
    width: 534px;
    height: auto;
    line-height: 30px;
    -webkit-transition: 1s;
  }
  #chicken {
    top: 220px;
    left: 50px;
    max-width: 40px;
  }

  #rug {
    top: 630px;
    left: 90px;
    width: 160px;
  }
  #checkeredflag{
    top: 40px;
    left: -20px;
    width: 90px;
  }
  p {
    padding-top: 130px;
    margin-left: 10px;
    line-height: 280px;
    font-size: 170px;
    margin-bottom: 0px;
    z-index: 0;
  }
  #container {
    height: 850px;
    width: 600px;
    overflow: hidden;
  }
  #cowrug {
    top: 330px;
      left: 230px;
    max-width: 150px;
  }
   #classylamp {
    top: 130px;
  left: 190px;
  width: 80px;
  }
    #dotcarpet {
    top: 254px;
    left: 500px;
    width: 40px;
  }
  #deer {
    position: absolute;
    top: 0px;
    left: 530px;
    width: 80px;
    height: auto;
    z-index: 1;
  }
  #grassroll {
    position: absolute;
    top: 750px;
    left: 480px;
    width: 130px;
    height: auto;
    z-index: -2;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #sully {
    position: absolute;
    top: 270px;
    left: 30px;
    width: 20px;
    height: auto;
    z-index: 1;
  }
  #trophy {
    position: absolute;
      top: 100px;
  left: 90px;
  width: 50px;
    height: auto;
    z-index: -1;
  }
   #mancala {
    position: absolute;
      top: 370px;
  left: 10px;
  width: 60px;
    height: auto;
    z-index: 1;
  }
   #foldingtable {
    position: absolute;
    top: 461px;
  left: 280px;
  width: 20px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #drawer {
    position: absolute;
    top: -60px;
  left: 230px;
  width: 160px;
    height: auto;
    z-index: 50;
  }
   #teacup {
    position: absolute;
    top: 410px;
  left: 190px;
  width: 20px;
    height: auto;
    z-index: 1;
  }
  #broom {
    position: absolute;
    top: 280px;
  left: 410px;
  width: 30px;
    height: auto;
    z-index: 1;
  }
   #fan {
    position: absolute;
    top: 320px;
  left: 460px;
  width: 80px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #basketball {
    position: absolute;
    top: 720px;
  left: 540px;
  width: 40px;
    height: auto;
    z-index: 6;
  }
  #basketball:hover {
    -webkit-transform: rotate(90deg);
  }
    #bonsai{
    position: absolute;
      top: 530px;
  left: 280px;
  width: 20px;
    height: auto;
    z-index: 3;
  }
  #bananas{
   position: absolute;
    top: 330px;
  left: 150px;
  width: 40px;
    height: auto;
    z-index: 2;
  }
  #shoe{
   position: absolute;
    top: 290px;
  left: 250px;
  width: 20px;
    height: auto;
    z-index: 5;
  }
   #bucket{
   position: absolute;
      top: 580px;
  left: 420px;
  width: 50px;
    height: auto;
    z-index: 5;
  }
  #croc{
   position: absolute;
    top: 584px;
  left: 437px;
  width: 57px;
    height: auto;
    z-index: 7;
  }
  #chandelier{
   position: absolute;
      top: 0px;
  left: 410px;
  width: 100px;
    height: auto;
    z-index: 1;
  }
  #cookie{
   position: absolute;
    top: 30px;
  left: 270px;
  width: 20px;
    height: auto;
    z-index: 51;
    -webkit-transition: top 2s;
  }

  #desklamp{
   position: absolute;
    top: 610px;
  left: 0px;
  width: 40px;
    height: auto;
    z-index: 1;
  }
  #rotatechair{
   position: absolute;
    top: 500px;
  left: 380px;
  width: 30px;
    height: auto;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #snail{
   position: absolute;
      top: 660px;
  left: 400px;
  width: 20px;
    height: auto;
    z-index: 7;
  }
   #birdhouse{
   position: absolute;
      top: 600px;
  left: 260px;
  width: 20px;
    height: auto;
    z-index: 7;
    -webkit-transition: 1s;
  }
  #cat{
   position: absolute;
    top: 572px;
  left: 240px;
  width: 40px;
    height: auto;
    z-index: 7;
  }
   #mattress {
   position: absolute;
    top: 700px;
  left: 300px;
  width: 100px;
    height: auto;
    z-index: 0;
  }
  #umbrella{
   position: absolute;
      top: 340px;
  left: 350px;
  width: 97px;
    height: auto;
    z-index: 4;
  }
   #pizza{
   position: absolute;
    top: 290px;
  left: 560px;
  width: 30px;
    height: auto;
    z-index: -1;
  }
  #iron{
   position: absolute;
      top: 490px;
  left: 530px;
  width: 37px;
    height: auto;
    z-index: -1;
  }
   #manillafolder{
   position: absolute;
    top: 230px;
  left: 320px;
  width: 37px;
    height: auto;
    z-index: 6;
    -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #genielamp{
   position: absolute;
      top: 220px;
  left: 340px;
  width: 27px;
    height: auto;
    z-index: 7;
  }
  #matchbox{
   position: absolute;
    top: 640px;
  left: 99px;
  width: 170px;
    height: auto;
    z-index: 7;
  }
  #mop{
   position: absolute;
    top: 550px;
  left: 79px;
  width: 27px;
    height: auto;
    z-index: 7;
  }
  #oldclock{
   position: absolute;
    top: 390px;
  left: 89px;
  width: 127px;
    height: auto;
    z-index: 2;
  }
  #gazebo{
   position: absolute;
    top: 700px;
  left: 40px;
  width: 37px;
    height: auto;
    z-index: -1;
  }
   #hair{
   position: absolute;
      top: 260px;
  left: 130px;
  width: 37px;
    height: auto;
    z-index: 3;
  }
  #rat {
  position: absolute;
  top: 780px;
  left: 0px;
  width: 57px;
  height: auto;
  z-index: 3;
  }
  #oillamp {
  position: absolute;
  top: 605px;
  left: 51px;
  width: 77px;
  height: auto;
  z-index: 3;
  }
  #plant {
  position: absolute;
    top: 180px;
  left: 120px;
  width: 67px;
  height: auto;
  z-index: 3;
  -webkit-transition: 8s;
  }
  #tv {
  position: absolute;
  top: -250px;
  left: 5860px;
  width: 3377px;
  height: auto;
  z-index: 1;
  }
  #book {
  position: absolute;
  top: 790px;
  left: 280px;
  width: 47px;
  height: auto;
  z-index: 1;
  }
  #chess{
  position: absolute;
  top: 780px;
  left: 400px;
  width: 67px;
  height: auto;
  z-index: 1;
  }
  #gnome{
  position: absolute;
    top: 760px;
  left: 463px;
  width: 47px;
  height: auto;
  z-index: 3;
  }
  #garbagebag{
   position: absolute;
  top: 569px;
  left: 503px;
  width: 97px;
  height: auto;
  z-index: -2;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #paperclip{
    position: absolute;
    top: 629px;
  left: 463px;
  width: 117px;
  height: auto;
  z-index: -2;
  }
  #tire{
  position: absolute;
  top: 710px;
  left: 149px;
  width: 87px;
  height: auto;
  z-index: 9;
  }
   #obama{
   position: absolute;
    top: 460px;
  left: 330px;
  width: 17px;
  height: auto;
  z-index: 0;
  }
   #cds{
  position: absolute;
    top: 469px;
  left: 330px;
  width: 37px;
  height: auto;
  z-index: -1;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
  #fence{
  position: absolute;
  top: 440px;
  left: 370px;
  width: 97px;
  height: auto;
  z-index: -1;
  }
  #cash{
  position: fixed;
  bottom: 0px;
  left: 360px;
  width: 77px;
  height: auto;
  z-index: 50;
  }
  #bopit{
  position: absolute;
    top: 620px;
  left: 320px;
  width: 27px;
  height: auto;
  z-index: 0;
  }
   #cake{
  position: absolute;
  top: 780px;
  left: 410px;
  width: 30px;
  height: auto;
  z-index: 0;
  }
  #coins{
  position: absolute;
    top: 250px;
  left: 520px;
  width: 27px;
  height: auto;
  z-index: 3;
  }
  #cowboyhat{
  position: absolute;
    top: 370px;
  left: 390px;
  width: 27px;
  height: auto;
  z-index: 4;
  }
   #creature {
    position: absolute;
  top: 400px;
  left: 94px;
  width: 20px;
  height: auto;
  z-index: 1;
  -webkit-transition: 30s;
  }
  #dove {
    position: absolute;
  top: 520px;
  left: 160px;
  width: 40px;
  height: auto;
  z-index: 5;
  }
   #hula{
   position: absolute;
  top: 380px;
  left: 470px;
  width: 97px;
  height: auto;
  z-index: -5;
  }
    #leaves{
  position: absolute;
  top: 780px;
  left: 199px;
  width: 77px;
  height: auto;
  z-index: 0;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }  
  #slinky{
    position: absolute;
  top: 720px;
  left: 309px;
  width: 17px;
  height: auto;
  z-index: 5;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  -webkit-transition: 2s;
  }
   #newspapers {
  position: absolute;
  top: 260px;
  left: 40px;
  width: 100px;
  height: auto;
  z-index: -1;
  }
  #balloon{
  position: absolute;
  top: 0px;
  left: 140px;
  width: 37px;
  height: auto;
  z-index: -55;
  -webkit-filter: drop-shadow(0px 0px 0px #222);
  }
  #santahat{
    position: absolute;
  top: 151px;
  left: 350px;
  width: 20px;
  height: auto;
  z-index: -50;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
   #shrub{
   position: absolute;
  top: 480px;
  left: 50px;
  max-width: 50px;
  z-index: -1;
  }
  #toilet{
  position: absolute;
  top: 150px;
  left: 545px;
  width: 50px;
  height: auto;
  z-index: 1;
  }
  #sword{
  position: absolute;
    top: 350px;
  left: 560px;
  width: 20px;
  height: auto;
  z-index: 10;
  }
   #steak{
   position: absolute;
  top: 420px;
  left: 440px;
  width: 13px;
  height: auto;
  z-index: 0;
  }
   #stool{
    position: absolute;
    top: 410px;
  left: 400px;
  width: 50px;
  height: auto;
  z-index: -55;
  -webkit-filter: drop-shadow(0px 0px 0px white);
  }
    #toaster{
    position: absolute;
  top: 580px;
  left: 350px;
  width: 30px;
  height: auto;
  z-index: 30;
  }
  #toast{
  position: absolute;
  top: 570px;
  left: 358px;
  width: 20px;
  height: auto;
  z-index: 2;
  -webkit-transition: .5s;
  }
  #toaster:hover + #toast{
    top: 6900px;
  }
   #opensign{
    position: absolute;
  top: 70px;
  left: 160px;
  width: 50px;
  height: auto;
  z-index: 1;
  }
  #gate{
  position: absolute;
    top: 530px;
  left: 380px;
  width: 80px;
  height: auto;
  z-index: 5;
  }
  }








  










