#container {
  width: 1400px;
  margin: 0 auto; 
}

body{
  /* background-color: rgb(254, 228, 206); */
  background-image: url(Oil1.jpg);
  background-size: 150px;
}

h1 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  color: Lavender;
  letter-spacing: 380px;
  padding-left: 60px;
  text-align: center;
  line-height: 10%;
  text-shadow:
    -1px -1px 0 Blue,
    5px -5px 0 Blue,
    -1px 1px 0 Blue,
    1px 1px 0 Blue;  
}
h2 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  color: Lavender;
  letter-spacing: 200px;
  padding-left: 60px;
  text-align: center;
  line-height: 300%;
  text-shadow:
    -1px -1px 0 Blue,
    5px -5px 0 Blue,
    -1px 1px 0 Blue,
    1px 1px 0 Blue;  
}
p {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  color: Lavender;
  position: absolute;
    left: 740px;
    top: 450px;
    z-index: 1;
  text-shadow:
    -1px -1px 0 Blue,
    5px -5px 0 Blue,
    -1px 1px 0 Blue,
    1px 1px 0 Blue;  
}
h3 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  text-align: right;
  color: Lavender;
  letter-spacing: 625px;
  line-height: 0%;
  padding-left: 60px;
  text-shadow:
    -1px -1px 0 Blue,
    5px -5px 0 Blue,
    -1px 1px 0 Blue,
    1px 1px 0 Blue;  
}
#clock {
  font-family: sans-serif;
  font-size: 100px;
  color: rgb(136, 255, 85);
  letter-spacing: 100px;
  padding-left: 60px;
  position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}
#clock:hover {
  position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;;
}

#Style {
  font-family: 'Indie Flower';
  font-size: 40px;
  text-align: right;
  color: Black;
  letter-spacing: 10px;
  padding-left: 70px;
  position: absolute;
    left: 1200px;
    top: 700px;
    z-index: 2;
}
#Style:hover {
  letter-spacing: 100px;
}

#How {
  font-family: 'Pirata One';
  font-size: 50px;
  color: rgb(255, 139, 228);
  letter-spacing: 2px;
  padding-left: 70px;
  position: absolute;
    left: 500px;
    top: 1060px;
    z-index: 2;
}

#How:hover {
  font-size: 300px;
}

#Guide {
  font-family: 'Medula One', cursive;
  font-size: 300px;
  color: #ffc500;
  letter-spacing: 2px;
  position: absolute;
    left: 2000px;
    top: 150px;
    z-index: 2;
}

#Guide:hover {
  color: #ffc500;
  opacity: 0.5;
}