#container {
  width: 1400px;
  margin: 0 auto; 
}

body{
	background-color: rgb(254, 228, 206);
}
h1 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  color: Lavender;
  letter-spacing: 380px;
  padding-left: 60px;
  text-align: center;
  line-height: 10%;
}
h2 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  color: Lavender;
  letter-spacing: 200px;
  padding-left: 60px;
  text-align: center;
  line-height: 300%;
}
h3 {
  font-family: 'NTR', sans-serif;
  font-size: 200px;
  text-align: center;
  color: Lavender;
  letter-spacing: 715px;
  line-height: 0%;
  padding-left: 60px;
}
#clock {
  font-family: sans-serif;
  font-size: 100px;
  color: rgb(136, 255, 85);
  letter-spacing: 100px;
  padding-left: 60px;
  position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}
#Style {
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  color: rgb(0, 236, 236);
  letter-spacing: 10px;
  padding-left: 70px;
  position: absolute;
    left: 1030px;
    top: 575px;
    z-index: 0;
}
#How {
  font-family: 'Pirata One';
  font-size: 50px;
  color: rgb(255, 139, 228);
  letter-spacing: 2px;
  padding-left: 70px;
  position: absolute;
    left: 500px;
    top: 1060px;
    z-index: 2;
}
