#container {
  width: 1400px;
  height: 1400px;
  margin: 0 auto; 
  cursor: help;
}

body{
  /* background-color: rgb(254, 228, 206); */
  background-image: url(check.png);
  background-size: 300px;
  z-index: -1;
  cursor: help;
  overflow-x: hidden;
}

#home {
  width: 57px;
  height: 40px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  top: 0px;
  left: 10px;
  z-index: 3;
}

#clockimage {
  width: 55px;
  height: 70px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  top: 0px;
  left: 90px;
  z-index: 3;
}

#snack {
  width: 50px;
  height: 50px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  bottom: 0px;
  left: 1000px;
  z-index: 3;
}

#glitter {
  width: 60px;
  height: 60px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  top: 500px;
  left: 0px;
  z-index: 3;
}

#cube {
  width: 40px;
  height: 40px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  top: 0px;
  left: 1400px;
  z-index: 3;
}

#guideimage {
  width: 50px;
  height: 70px;
  background: url(check.png);
  box-shadow: 3px 3px 1px Blue;
  position: fixed;
  display: inline-block;
  top: 10px;
  right: 0px;
  z-index: 3;
}



#name {
  color: rgb(249, 217, 221);
  font-size: 200px;
  letter-spacing: 600px;
  padding-left: 200px;
  padding-top: 0px;
  margin-top: -200px;
  text-align: center;
  line-height: 700%;
     text-shadow:
    -1px -1px 0 Blue,
    1px -1px 0 Blue,
    -1px 1px 0 Blue,
    5px 5px 0 Blue; 
    -webkit-transition: opacity 10s ease; 
}

#name:hover {
  opacity: .2;
  -webkit-transition: opacity 10s ease;
}

#clock {
  font-family: sans-serif;
  font-size: 100px;
  color: rgb(136, 255, 85);
  letter-spacing: 100px;
  padding-left: 60px;
  position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}
#clock:hover {
  position: absolute;
    left: 100px;
    top: 100px;
    z-index: 1;;
}

#Style {
  font-size: 40px;
  text-align: right;
  color: Black;
  letter-spacing: 10px;
  padding-left: 70px;
  position: absolute;
    left: 1200px;
    top: 800px;
    z-index: 2;
}
#Style:hover {
  letter-spacing: 100px;
}

#How {
  font-family: 'Pirata One';
  font-size: 50px;
  color: rgb(255, 139, 228);
  letter-spacing: 2px;
  padding-left: 70px;
  position: absolute;
    left: 500px;
    top: 2060px;
    z-index: 2;
}

#How:hover {
  font-size: 300px;
}

#Guide {
  font-family: 'Medula One', cursive;
  font-size: 300px;
  color: #ffc500;
  letter-spacing: 2px;
  position: absolute;
    left: 2000px;
    top: 150px;
    z-index: 2;
}

#Guide:hover {
  color: #ffc500;
  opacity: 0.5;
}

#interview {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 10px;
  color: blue;
   position: absolute;
    left: 1000px;
    top: 5000px;
    z-index: 2;

}
#interview:hover {
  color: purple;
  text-decoration: underline;
}

