h1 {
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0px;
  display: block;
  color: rgb(56, 64, 186);
  font-size: 21px;
  font-weight: normal;
  padding-left: 127.5px;
  padding-top: 153.5px;
  line-height: 1.3;
}

body {
  background-image: url(ScreenShot.png);
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(56, 64, 186);
}