h1 {
  position: absolute;
  font-family: sans-serif;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 0px;
  display: block;
  color: rgb(56, 64, 186);
  font-size: 21px;
  font-weight: normal;
  padding-left: 1558px;
  padding-top: 167px;
  line-height: 1.3;
}

body {
  background-image: url(ScreenShot.png);
  background-size: 1700px;
  background-position: absolute;
  background-repeat: no-repeat;
  display: block;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(56, 64, 186);
}