body {
  background-color: white;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(255, 99, 71);
  border-bottom:none;
  font-family: "Abril Fatface", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 884px;
  overflow: hidden;
}


h1, h2 {
  font-family: "Abril Fatface", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: black;
  text-align: left;
  letter-spacing: 2px;
  font-size: 15px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}

