.container {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding-right: 50px;
  padding-top: 162px;
}
body {
  font-family: "academica_light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  line-height: 1.5;
  color: white;
  text-align: right;
  cursor: n-resize;
  text-decoration: none;
  margin: 25px;

}
h1, h2, h3 {
  font-size: 2em;
  margin-top: 50px;
  font-family: "academica_light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 0;
  background-color: rgb(0, 255, 242);
}
#bar {
  position: inline-block;
  position: fixed;
  width: 150%;
  height: 635px;
  background-color: rgb(0, 255, 242);
  margin: -40px;
  cursor: n-resize;
}

p {
  background-color: rgb(0, 255, 242);
  color:  rgb(0, 255, 242);
  cursor: s-resize;
}

a {
  text-decoration: none;
}

header {
  padding-top: 18px;
  text-decoration: none;
  color: black;
  cursor: n-resize;
}

#bar:hover {
  height: 217px;
  -webkit-transition: all 4s ease-in-out;
  -moz-transition: all 4s ease-in-out;
  -o-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}