body {
  background-color: black;
  transition: background-color 5s linear;
  color: black;
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  position: relative;
  font-size: .9rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 61px;
  margin-bottom: 100px;
  width: 800px
}

h1 {
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: 1px;
  width: 150px;
  padding: 10px;
  border: 1px solid #ffe7e8;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-bottom: 8px;
}
h2 {
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: 1px;
  width: 150px;
  padding: 10px;
  color: #ffe7e8;
  border: 1px solid #ffe7e8;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-bottom: 0em;
}

h1:hover{
  box-shadow: 2px 2px 3px Gray;
}
h2:hover{
  box-shadow: 2px 2px 3px Gray;
}

a {
  text-decoration: none;
  color: #ffe7e8;
}

body:hover {
  background-color: transparent;      
}