body {
  margin: 50px;
}


body.container {
  margin: 0 auto;
}

h1, h2 {
  display: inline-block;
  position: fixed;
  font-family: 'times new roman';
  color: Blue;
  text-shadow:
    -0px -0px 0 White,
    2px -1px 0 White,
    -0px 0px 0 White,
    0px 0px 0 White;  
  line-height: 1;
  font-size: 300px;
  font-style: normal;
  height: 100%;
  padding-top: 0px;
  letter-spacing: 5px;
}

h2 {
  margin-top: 50px;
}
h1 {
  line-height: 10px;
}

body {
  background-image: url(cube.png);
  background-image: repeat;
  background-position: fixed;
  background-size: 300px 300px;
  background-color: Blue;
	text-align: left;
}

a {
  font-family: 'times new roman';
  color: Blue;
  text-shadow:
    -0px -0px 0 White,
    2px -1px 0 White,
    -0px 0px 0 White,
    0px 0px 0 White;  
}
