body {
  margin: 25px;
}

/* TWENTY */


.container {
  background-color: black;
  border-radius: 3px;
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 40px;
}

body.twenty {
   background: -webkit-linear-gradient(0deg, #F09819 10%, #EDDE5D 90%);
  font-family: 'Timmana', sans-serif;
  color: rgb(211, 197, 101); 
  line-height: 1.4;
  font-size: 15px;
  text-align: left;
  font-style: normal;
  height: 100%;
  padding-top: 70px;
  letter-spacing: 1px;
  padding-left: 200px;
  padding-bottom: 123px;
  overflow-y: hidden;
}

h1 {
  font-family: 'Sancreek', cursive;
  color: black;
  font-size: 40px;
  -webkit-transform: rotate(-90deg);
  position: fixed;
  width: 100%;
  top: -200px;
  margin-left: -845px;

}

h2 {
  font-family: 'Sancreek', cursive;
  color: black;
  padding-right: 300px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 14px;
}

#firstcharacter {
  font-family: 'Sancreek', cursive;
  font-size: 100px;
  float: left;
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px;
  line-height: .7;
}

#bar {
  font-family: 'Sancreek', cursive;
  font-size: 14px;
  position: fixed;
  left: 1050px;
  height: 60px;
  width: 240px;
  background-color: black;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  color: rgb(240, 152, 25);
  top: 700px;

}