body {
  margin: 25px;
}

/* INDEX PAGE */

body.index {
  background-image: url(https://justinphillipson.files.wordpress.com/2008/02/sollewitt1.jpg);
  background-size: cover;
  font-family: 'Josefin Slab', serif;
  font-weight: Bold 700;
  line-height: 1;
}

body.index a {
  color: White;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid black;
}

body.index a:hover {
  font-size: 30px;
}

body.index h1 {
  font-family: 'Josefin Slab', serif;
  color: White;
  letter-spacing: 2px;
  font-weight: Bold 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
body.index h1:hover {
  letter-spacing: 30px;
}

body.index header{
  font-family: 'Josefin Slab', serif;
  color: black;
  font-weight: Bold 700;
  line-height: 1;
}

/* SOURCES PAGE */

body.sources img{
  position: relative;
    left: 400px;
    top: 10px;
  width: 10%;
  height: 10%;
}

body.sources p{
  position: relative;
    left: 400px;
    top: 5px;
  font-family: 'Josefin Slab', serif;
  line-height: 130%;
}

body.sources img:hover{
  width: 40%;
  height: 40%;
}

body.sources a {
  font-family: 'Josefin Slab', serif;
  font-weight: Bold 700;
  color: Black;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid black;
}

body.sources a:hover {
  font-size: 30px;
}

/* STYLE ONE */

body.one {
  background: #eeeeee;
  color: #2c353c;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #2c353c;
  position: relative;
  cursor: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px
}
body.one header{
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 129%;
  vertical-align: middle;
  border-style: solid;
  border-width: 0px;
  padding: 2em;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: white;
  color: #333333;
  box-shadow: 1px 1px 2px #dbdbdb;
  word-wrap: break-word;
  color: #134fe6;
}
body.one h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: inline;
  vertical-align: super;
  background-color: #efff00;
  color: #2c353c;
  margin: 0 auto;
  width: 600px
}
body.one h1:hover {
  color: #05ff56;
}
body.one #name {
  color: #05ff56;
}
.panel {
  padding: 2em;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: white;
  box-shadow: 1px 1px 2px #dbdbdb;
  word-wrap: break-word;
}

/* STYLE TWO */

body.two {
  background-color: #ffe7e8;
  color: black;
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
  position: relative;
  font-size: .9rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 2em;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 800px
}

body.two h1{
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: 1px;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
}
body.two h2{
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: 1px;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
}
body.two h3{
  font-family: "Lineto-Circular","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 23px;
  letter-spacing: 1px;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  outline: none;
  text-decoration: none;
}

body.two h1:hover{
  box-shadow: 2px 2px 3px Gray;
}
body.two h2:hover{
  box-shadow: 2px 2px 3px Gray;
}
body.two h3:hover{
  box-shadow: 2px 2px 3px Gray;
}

/* STYLE THREE */

body.three {
  background-image: url(http://www.richardplank.com/wp-content/uploads/2011/11/Sol-LeWitt.jpg);
  background-size: cover;
  position: absolute;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  color: Black;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px;
  padding-left: 70px;
}

body.three .container {
  background-color: White;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

body.three header{
  font-family: "Abril Fatface", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  color: white;
  font-size: 100px;
  font-style: normal;
  color: White;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-top: 0;
}

/* STYLE FOUR */

body.four {
font-family: "apercuregular", sans-serif;
background: rgb(250, 255, 255);
color: #121212;
font-size: 100%;
margin: 0;
padding: 0;
text-align: left;
position: relative;
line-height: 1;
overflow-x: hidden;
width: 540px;
margin: 0 auto;
}

body.four h1 {
  font-family: "apercuregular", sans-serif;
  font-size: 65px;
  line-height: 1.2;
  width: 540px;
  color: #111111;
  font font-weight: bold;
}
body.four h2{
  font-family: "apercuregular", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  width: 540px;
  color: #111111;
  font font-weight: bold;
}
body.four h3{
  font-family: "Consolas", monospace;
  font-size: 15px;
  width: 540px;
  color: blue;
  font font-weight: bold;
}

/* STYLE FIVE */

body.five h1 {
  font-family: "Raleway",sans-serif;
  display: block;
  color: rgb(122, 109, 68);
  text-rendering: geometricPrecision;
  font-size: 105px;
  line-height: .875em;
  letter-spacing: -.06em;
  font-weight: 100;
  margin: 0 0 35px -.08em;
  opacity: 1;
}

body.five {
  background-color: rgb(254, 218, 82);
  font-family: "Raleway",sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 21px;
  color: rgb(122, 109, 68);
}

/* STYLE SIX */

body.six .container {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding-right: 50px;
  padding-top: 180px;
}
body.six {
  font-family: "academica_light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  line-height: 1.5;
  background: #f5f6f7;
  color: #0C2736;
  text-align: right;
}
body.six h1,h2,h3 {
  font-size: 2em;
  margin-top: 50px;
  font-family: "academica_light", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: normal;
  line-height: 0;
}
#bar {
  position: inline-block;
  position: fixed;
  width: 150%;
  height: 200px;
  background-color: rgb(0, 255, 242);
  margin: -40px;
}
