body {
  margin: 25px;
}

/* INDEX PAGE */

body.index {
  background-image: url(https://justinphillipson.files.wordpress.com/2008/02/sollewitt1.jpg);
  background-size: cover;
  font-family: 'Josefin Slab', serif;
  font-weight: Bold 700;
  line-height: 1;
}

body.index a {
  color: White;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid black;
}

body.index a:hover {
  font-size: 30px;
}

body.index h1 {
  font-family: 'Josefin Slab', serif;
  color: White;
  letter-spacing: 2px;
  font-weight: Bold 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
body.index h1:hover {
  letter-spacing: 30px;
}

/* SOURCES PAGE */

body.sources img{
  position: relative;
    left: 400px;
    top: 10px;
  width: 10%;
  height: 10%;
}

body.sources p{
  position: relative;
    left: 400px;
    top: 5px;
  font-family: 'Josefin Slab', serif;
  line-height: 130%;
}

body.sources img:hover{
  width: 40%;
  height: 40%;
}

body.sources a {
  font-family: 'Josefin Slab', serif;
  font-weight: Bold 700;
  color: Black;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid black;
}

body.sources a:hover {
  font-size: 30px;
}

/* STYLE ONE */

body.one {
  background: #eeeeee;
  color: #2c353c;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  color: #2c353c;
  position: relative;
  cursor: auto;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 600px
}
body.one header{
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 129%;
  vertical-align: middle;
  border-style: solid;
  border-width: 0px;
  padding: 2em;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: white;
  color: #333333;
  box-shadow: 1px 1px 2px #dbdbdb;
  word-wrap: break-word;
  color: #134fe6;
}
body.one h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: inline;
  vertical-align: super;
  background-color: #efff00;
  color: #2c353c;
  margin: 0 auto;
  width: 600px
}
body.one h1:hover {
  color: #05ff56;
}
body.one #name {
  color: #05ff56;
}

/* STYLE TWO */

body.two {
  background: lime;
}

body.two h1 {
  font-family: "Comic Sans MS";
}

.panel {
  padding: 2em;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: white;
  box-shadow: 1px 1px 2px #dbdbdb;
  word-wrap: break-word;
}

/* STYLE THREE */

body.three {
  background: pink;
}

body.three h1 {
  font-family: Georgia;
}
